img {
  height: 150px;
  width: 150px;
}

.cardHeader {
  color: black;
  font-family: "Poiret One", cursive;
  font-size: 28px;
  font-weight: bold;
}

.cardText {
  color: black;
  font-family: "Poiret One", cursive;
  font-size: 18px;
  font-weight: bold;
}
